.main-inner{
    display: flex;
}

.side{
    background-color: #868686;
    width: 15%;
}

.side-title{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 30px;
    margin: 10px 10px 30px 10px;
}

.side-link{
    background-color: #EEEEEB;
    margin: 15px;
    border-radius: 5px;
    font-size: 20px;
    color: #000000;
    text-align: center;
}

.side-link__name {
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}

.content{
    width: 85%;
}

.title{
    border-bottom: solid   #5F5F5F 2px;
    display: flex;
}

.title-icon{
    border-radius: 50%;
    margin: 10px 10px 10px 25px;
    width: 70px;
    height: 70px;
}

.title__user{
    margin: auto 0px;
}

.form-tradingend{
    margin: auto 20px auto auto;
}

/* 取引終了ボタン */
.open{
    background-color: #FF8282;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 700;
    padding: 5px 20px;
    margin: auto 10px auto auto;
    text-decoration: none;
}

.item{
    border-bottom: solid #5F5F5F 2px;
    display: flex;
}

.item-image{
    width: 200px;
    height: 200px;
    margin: auto 50px auto 30px;
}

.item-name{
    font-size: 48px;
    font-weight: 700;
}

.price{
    font-size: 36px;
    font-weight: 400;
}

.myself{
    text-align: right;
    margin-bottom: 15px;
}

.chat__account-partner{
    display: flex;
    margin-top: 10px;
}

.chat__account-myself {
    display: flex;
    margin-top: 10px;
}

.partner-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}

.myself-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto 10px auto 0px;
}

.partner-name{
    font-weight: 700;
}

.myself-name {
    margin: auto 10px auto auto;
    font-weight: 700;
}

.partner-message{
    background-color: #D9D9D9;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
    margin-left: 10px;
    margin-top: 0px;
    width: 400px;
}

.myself-message {
    background-color: #D9D9D9;
    margin-bottom: 0px;
    margin-right: 10px;
    border: none;
    width: 400px;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px;
}

.message-update{
    margin: 0px 10px auto auto;
    display: inline;
}

.message-update__button{
    color: #5F5F5F;
    background-color: #FFFFFF;
    border: none;
    margin: auto 0px auto auto;
}

.message-delete {
    margin: 0px 0px auto 0px;
    display: inline;
}

.message-delete__button{
    color: #5F5F5F;
    background-color: #FFFFFF;
    border: none;
    margin: auto 5px auto auto;
}

.form{
    display: flex;
    margin-top: 20px;
}

.form__text{
    margin-left: 10px;
    border-radius: 4px;
    width: 900px;
    height: 44px;
    font-size: 20px;
    border: solid 1px #5F5F5F;
    padding: 10px;
}

.form__input-image{
    color: #FF5555;
    border: solid 2px #FF5555;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    margin: auto 0px auto 10px;
}

.form__button{
    background-color: #FFFFFF;
    border: none;
}

.form-button__image{
    width: 60px;
    height: 40px;
}

.main-form__error{
    color: red;
}





/* ベース */
.modal {
    position: fixed;
    inset: 0;
    display: none;
}

.modal:target {
    display: block;
}

/* ダイアログ本体 */
.modal .content {
    position: absolute;
    left: 800px;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 360px;
    background: #FDFCE6;
    border: solid 1px #000000;
    border-radius: 15px;
}

.content__inner-title{
    border-bottom: solid 1px #000000;
}

.modal__title{
    font-weight: 400;
    font-size: 35px;
    margin: 10px auto 10px 20px;
    
}

.modal__sentence{
    color: #868686;
    font-size: 20px;
    margin-left: 20px;
}

.assessment .star {
    font-size: 34px;
    cursor: pointer;
    color: #D9D9D9;
    /* 未選択はグレー */
}

.assessment .star.is-on {
    color: #FFF048;
    /* 選択は黄色 */
}

.assessment{
    border-bottom: solid 1px #000000;
}

.star{
    width: 100px;
    height: 100px;
    margin-left: 12px;
    margin-bottom: 20px;
}

.modal__button-dassessment{
    background-color: #FF8282;
    color: #FFFFFF;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    display: block;
    margin: 20px 20px auto auto;
}